@charset "UTF-8";

#app {
    margin-left: auto;
    margin-right: auto;
    width: 980px;/*コンテンツ幅（センタリング）*/
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.todoicon {
    position: relative;
    top:4px;
}

.tasks {
    text-align: right;
}

.todo {
    list-style: none;
}

.z-depth-2 {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
}

.done span {
    text-decoration: line-through;
}

.deletebutton {
    display: block;
    margin: 0 0 0 auto;
}