@charset "UTF-8";

#app {
    margin-left: auto;
    margin-right: auto;
    width: 980px;/*コンテンツ幅（センタリング）*/
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.todoicon {
    position: relative;
    top:4px;
}

.tasks {
    text-align: right;
}

.todo {
    list-style: none;
}

#material {
    background-color: #ffffff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    margin: 20px;
    padding: 20px;
}

#material.done {
    background-color: #8f8f8f;
}

.todotext {
    color: #000000;
}

.done span {
    text-decoration: line-through;
}

.deletebutton {
    display: block;
    margin: 0 0 0 auto;
}